@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  // font-family: poppins;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background-color: royalblue;
}

// GLOBAL STYLES
$shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.301);
$border: 2px solid rgb(214, 214, 214);
$cardsj-bg: rgb(224, 223, 230);
$hover-Color: whitesmoke;
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 750px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  }
}

.Portfolio-con {
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  max-width: 2400px;
  background-color: rgba(13, 21, 34, 0);

  .Portfolio {
    font-size: 15px;
    @include flexDisplay(space-around, top, row);

    @include responsive(bigphone) {
      font-size: 25px;
    }
  }
  .project {
    width: 90%;
    padding: 15px;
    margin-top: 30px;

    @include responsive(bigphone) {
      font-size: 20px;
      margin: 0 auto;
      margin-top: 30px;
      width: 80%;
    }
  }

  .myProjectCon {
    @include flexDisplay(space-around, top, row);
    flex-wrap: wrap;
    gap: 30px;
    background-color: rgba(13, 21, 34, 0);
    width: 90%;
    margin: 0 auto;

    .projectCard {
      @include flexDisplay(space-between, top, column);
      border: 1px solid rgba(65, 105, 225, 0.36);
      background-color: rgba(13, 21, 34, 0.694);
      box-shadow: 5px 5px 30px rgba(40, 82, 189, 0.263);
      border-radius: 5px;
      width: 40%;
      margin-bottom: auto;
      text-align: center;
      padding: 5px;

      @include responsive(bigphone) {
        width: 45%;
        max-width: 400px;
        border-radius: 10px;
        padding: 10px 10px;
      }
      .project-name {
        font-size: 10px;
        padding: 10px 0;

        @include responsive(bigphone) {
          font-size: 25px;
        }
      }

      .details {
        .view-project {
          margin: 0 auto;
          margin-top: 10px;
          padding: 10px 0;
          background-color: rgba(13, 21, 34, 0.694);
          box-shadow: 5px 5px 30px rgba(40, 82, 189, 0.263);
          border: 1px solid rgba(65, 105, 225, 0.36);
          border-radius: 10px;
          color: rgb(150, 171, 217);
          @include flexDisplay(center, center, row);
          transform: scale(0.9);
          width: 95%;
          cursor: pointer;
          transition: all 0.2s linear;
          font-size: 13px;

          &:hover {
            transform: scale(1);
            background-color: rgba(42, 67, 107, 0.694);
          }
          @include responsive(bigphone) {
            font-size: 17px;
          }
        }
        .project-description {
          margin: 10px 0;
          word-spacing: 2px;
          line-height: 15px;
          font-size: 10px;
          color: rgb(150, 171, 217);

          @include responsive(bigphone) {
            line-height: 15px;
            word-spacing: 5px;
          }
        }

        .project-link {
          @include flexDisplay(space-between, center, column);
          padding: 5px 0;
          gap: 10px;

          font-size: 10px;
          @include responsive(bigphone) {
            @include flexDisplay(space-around, center, row);
          }

          a {
            width: 90%;
            padding: 5px;
            border-radius: 5px;
            color: rgba(150, 171, 217, 0.632);
            background-color: rgba(13, 21, 34, 0.694);
            box-shadow: 5px 5px 30px rgba(40, 82, 189, 0.263);
            border: 1px solid rgba(65, 105, 225, 0.36);
            transition: all 0.2s linear;
            font-size: 10px;

            &:hover {
              transform: scale(1.1);
              background-color: rgba(42, 67, 107, 0.694);
            }
            @include responsive(bigphone) {
              font-size: 13px;
              width: 40%;

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
  .slideCont {
    animation: 20s linear infinite;
    @include flexDisplay(space-between, center, row);
    padding-top: 5px;

    p {
      font-size: 13px;
      color: rgb(150, 171, 217);
      // word-spacing: 5px;
      // letter-spacing: 3px;

      @include responsive(bigphone) {
        font-size: 17px;
      }
    }
  }
}
