@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  // font-family: poppins;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1px;
}

*::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

*::-webkit-scrollbar-thumb {
  background-color: royalblue;
}

// GLOBAL STYLES
$shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.301);
$border: 2px solid rgb(214, 214, 214);
$cardsj-bg: rgb(224, 223, 230);
$hover-Color: whitesmoke;
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

// topbar section
.first {
  // height: 5rem;
  position: relative;
  .topbar {
    @include flexDisplay(space-between, center, row);
    // position: absolute;
    padding: 0 5px;
    height: 4rem;
    z-index: 10;
    top: 0;
    position: fixed;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    background-color: rgba(13, 21, 34, 0.694);

    @include responsive(tablet) {
      padding: 10px 10px;
    }
    //  icon
    h3 {
      color: rgb(150, 171, 217);
      font-family: "Orbitron", sans-serif;
      // position: fixed;
    }
    nav {
      position: absolute;
      margin-left: 0;
      margin-right: 0;
      left: 0;
      right: 0;
      top: 5rem;
      box-shadow: 5px 5px 30px rgba(40, 82, 189, 0.263);
      background-color: rgba(13, 21, 34, 0.694);

      // nav for desktop and tablet view
      @include responsive(tablet) {
        position: relative;
        top: 0;
        width: 60%;
        max-width: 500px;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
      }

      ul {
        // border: 2px solid red;
        overflow: hidden;
        transition: all 0.5s linear;
        @include flexDisplay(space-between, center, column);

        // class state for toggle mode
        &.openMenu {
          height: 200px;
        }
        &.closeMenu {
          height: 0px;
        }

        // nav response for tablet and desktop screen
        @include responsive(tablet) {
          @include flexDisplay(space-between, center, row);
          overflow: visible;
          border: none;
        }

        a {
          text-decoration: none;
          width: 100%;
          li {
            color: rgb(150, 171, 217);
            @include flexDisplay(center, center, row);
            padding: 10px;
            border-bottom: 1px solid royalblue;
            width: 100%;
            cursor: pointer;
            transition: all 0.2s linear;
            font-weight: 600;
            &:hover {
              box-shadow: 5px 5px 30px rgba(40, 82, 189, 0.263);
              background-color: rgba(13, 21, 34, 0.694);
              transform: scale(1.5);
            }
            @include responsive(tablet) {
              border: none;
              font-weight: 700;
              // width: 0;
              transition: all 0.2s linear;

              &:hover {
                z-index: 5;
                width: 70%;
                background-color: rgba(255, 255, 255, 0);
                box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
                transform: scale(1.5);

                // background-color: #444444;
              }
            }
          }
        }
      }
    }
    // social media icons
    .social-media {
      @include flexDisplay(center, center, column);
      position: absolute;
      right: 0;
      top: 8rem;
      height: 140px;
      width: 80px;
      position: fixed;

      //   desktop and tablet view
      @include responsive(tablet) {
        border: none;
        position: relative;
        right: 20px;
        top: 20vh;
      }

      li {
        @include flexDisplay(center, center, column);
        background-color: rgba(13, 21, 34, 0.694);
        box-shadow: 5px 5px 30px rgba(40, 82, 189, 0.193);
        border-radius: 8px;
        margin-bottom: auto;
        width: 80%;
        // gap: 20px;
        padding: 5px 5px 45px 5px;
        border: 1px solid rgba(65, 105, 225, 0.255);

        .social-icon {
          font-size: 20px;
          transition: all 0.2s linear;
          color: rgb(150, 171, 217);
          margin: 8px;

          &:hover {
            transform: scale(1.5);
          }
        }
      }
      .social-media-follow-me {
        @include flexDisplay(center, center, column);
        transform: rotate(90deg);
        width: 100px;
        color: rgb(150, 171, 217);
        padding: 5px 4px;
        background-color: rgba(29, 49, 80, 0.694);
        border: 1px solid rgba(65, 105, 225, 0.255);
        border-radius: 5px;

        p {
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
    .topmenu-icon {
      display: block;

      .menu-btn {
        font-size: 50px;
        color: rgb(150, 171, 217);
      }
      @include responsive(tablet) {
        display: none;
      }
    }
  }
}
