@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background-color: royalblue;
}

.services-con {
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  max-width: 2400px;
  background-color: rgba(13, 21, 34, 0);
}
.services-con .services {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: top;
  flex-direction: row;
}
@media only screen and (min-width: 750px) {
  .services-con .services {
    font-size: 25px;
  }
}
.services-con .what-i-do {
  width: 90%;
  padding: 15px;
  margin-top: 30px;
}
@media only screen and (min-width: 750px) {
  .services-con .what-i-do {
    font-size: 20px;
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
  }
}
.services-con .myServicesCon {
  display: flex;
  justify-content: space-around;
  align-items: top;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(13, 21, 34, 0);
  width: 90%;
  margin: 0 auto;
}
.services-con .myServicesCon .serviceCard {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  border: 1px solid royalblue;
  background-color: rgba(13, 21, 34, 0.694);
  box-shadow: 5px 5px 30px rgba(40, 82, 189, 0.263);
  border-radius: 5px;
  width: 40%;
  margin-bottom: auto;
  text-align: center;
  padding: 5px 0;
  transition: all 0.3s linear;
  margin: 15px;
}
.services-con .myServicesCon .serviceCard:hover {
  transform: scale(1.2);
  border: 2px solid royalblue;
  background-color: rgba(26, 41, 66, 0.838);
}
@media only screen and (min-width: 750px) {
  .services-con .myServicesCon .serviceCard {
    width: 35%;
    max-width: 400px;
    height: 200px;
    border-radius: 10px;
    padding: 5px 10px;
  }
}
.services-con .myServicesCon .serviceCard h1 {
  font-size: 50px;
}
@media only screen and (min-width: 750px) {
  .services-con .myServicesCon .serviceCard h1 {
    font-size: 100px;
  }
}
.services-con .myServicesCon .serviceCard p {
  font-size: 8px;
  color: rgb(150, 171, 217);
}
@media only screen and (min-width: 750px) {
  .services-con .myServicesCon .serviceCard p {
    font-size: 20px;
  }
}
.services-con .tech-stack {
  margin-top: 50px;
  font-size: 10px;
}
@media only screen and (min-width: 750px) {
  .services-con .tech-stack {
    margin-top: 100px;
    font-size: 20px;
  }
}
.services-con .stack {
  margin: 0 auto;
  margin-top: 30px;
  width: 210px;
  height: 210px;
  position: relative;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(40, 82, 189, 0.263);
  transition: all 0.3s linear;
  opacity: 0.8;
}
@media only screen and (min-width: 750px) {
  .services-con .stack {
    background-color: rgba(13, 21, 34, 0.504);
    margin-top: 50px;
    width: 400px;
    height: 400px;
  }
}
.services-con .stack .mern-stack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 30%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(40, 82, 189, 0.263);
}
.services-con .stack .mern-stack h1 {
  font-size: 40px;
  color: rgb(111, 143, 213);
}
@media only screen and (min-width: 750px) {
  .services-con .stack .mern-stack {
    top: 30%;
  }
  .services-con .stack .mern-stack h1 {
    font-size: 70px;
  }
}
.services-con .stack .mern-stack .punt {
  height: 30px;
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  position: absolute;
}
.services-con .stack .mern-stack .punt .slideCont {
  -webkit-animation: 20s linear infinite;
          animation: 20s linear infinite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 5px;
}
.services-con .stack .mern-stack .punt .slideCont p {
  font-size: 13px;
  color: rgb(150, 171, 217);
  word-spacing: 5px;
  letter-spacing: 3px;
}
@media only screen and (min-width: 750px) {
  .services-con .stack .mern-stack .punt .slideCont p {
    font-size: 17px;
  }
}
.services-con .stack .icon {
  position: absolute;
  font-size: 20px;
}
@media only screen and (min-width: 750px) {
  .services-con .stack .icon {
    font-size: 30px;
  }
}
.services-con .stack .react {
  right: 0;
  bottom: 0;
  font-size: 40px;
}
@media only screen and (min-width: 750px) {
  .services-con .stack .react {
    font-size: 50px;
  }
}
.services-con .stack .express {
  right: 0;
  font-size: 40px;
}
@media only screen and (min-width: 750px) {
  .services-con .stack .express {
    font-size: 50px;
  }
}
.services-con .stack .node {
  bottom: 0;
  font-size: 40px;
}
@media only screen and (min-width: 750px) {
  .services-con .stack .node {
    font-size: 50px;
  }
}
.services-con .stack .js {
  bottom: 0;
  left: 47%;
}
.services-con .stack .gh {
  right: 0;
  top: 47%;
}
.services-con .stack .mongodb {
  font-size: 40px;
}
@media only screen and (min-width: 750px) {
  .services-con .stack .mongodb {
    font-size: 50px;
  }
}
.services-con .stack .css {
  top: 47%;
}
.services-con .stack .html {
  left: 47%;
}/*# sourceMappingURL=ServiceStyle.css.map */