@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: poppins;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

*::-webkit-scrollbar-thumb {
  background-color: royalblue;
}

$shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.301);
$border: 2px solid rgb(214, 214, 214);
$cardsj-bg: rgb(224, 223, 230);
$hover-Color: whitesmoke;
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

section {
  background-color: black;
  // border: 2px solid red;
  // margin-top: 2rem;
  .banner {
    margin-top: 4rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    // @include flexDisplay(flex-start, center, row);
    height: 100vh;
    background: url(/src/images/PortfolioBg.jpg) fixed top;
    background-repeat: no-repeat;
    overflow: scroll;
    background-size: 150%;
    background-color: black;

    @include responsive(tablet) {
      height: 100vh;
      background: url(/src/images/PortfolioBg.jpg) fixed top;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .ban {
      @include flexDisplay(space-around, center, row);
      // border: 2px solid red;
      width: 80%;
      max-width: 900px;
      // min-width: 500px;
      height: 10%;
      margin: 0 auto;
      position: fixed;
      margin-top: 15%;

      .eye1 {
        position: relative;
        width: 110px;
        height: 110px;
        background-color: rgb(170, 170, 170);
        display: block;
        margin: 0 auto;
        box-shadow: insert 0px 0px 30px 30px rgba(0, 0, 0, 0.9);
        // top: 400px;
        // left: 30px;
        // right:70vw ;
        // position: fixed;
        // margin: 0 70vw 0 30vw;

        // position: absolute;
        border-radius: 50%;
      }
      .eye1::before {
        content: "";
        position: absolute;
        background-color: black;
        top: 50%;
        left: 35px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid blue;
        box-sizing: border-box;
      }
      .eye2 {
        position: relative;
        width: 110px;
        height: 110px;
        background-color: rgb(170, 170, 170);
        display: block;
        margin: 0 auto;
        box-shadow: 0 5px 45px gray, inset 0 0 15px gray, insert 0 0 25px gray;
        // margin-top: 33%;
        // position: absolute;
        border-radius: 50%;
      }
      .eye2::before {
        content: "";
        position: absolute;
        background-color: black;
        top: 50%;
        left: 35px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid blue;
        box-sizing: border-box;
      }
    }
  }
}
