* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: rgb(9, 14, 21);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

.General {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid blue;
  width: 100%;
  max-width: 2000px;
  max-height: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}
.General .RightSide {
  position: absolute;
  width: 100%;
  top: 5px;
  border-radius: 5px;
  background-color: black;
  box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
  border: 1px solid rgba(65, 105, 225, 0.255);
  height: 98%;
  overflow-y: scroll;
}
@media only screen and (min-width: 750px) {
  .General .RightSide {
    position: relative;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    height: 97vh;
    margin: 10px;
    background-color: rgba(18, 29, 47, 0.694);
  }
}
.General .RightSide .right-side-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.General .RightSide .right-side-container .top-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 5px;
  background-color: rgba(13, 21, 34, 0.694);
  box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
  border: 1px solid rgba(65, 105, 225, 0.255);
}
.General .RightSide .right-side-container .top-details .profileImg-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.772);
  border: 2px solid rgb(238, 123, 7);
}
.General .RightSide .right-side-container .top-details .profileImg-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.General .RightSide .right-side-container .top-details .my-name {
  color: rgba(255, 255, 255, 0.772);
  margin: 10px;
  font-size: 20px;
}
@media only screen and (min-width: 750px) {
  .General .RightSide .right-side-container .top-details .my-name {
    font-size: 13px;
  }
}
.General .RightSide .right-side-container .top-details .software {
  color: rgb(238, 123, 7);
  margin-top: -5px;
  font-size: 15px;
  font-weight: 100;
  padding: 2px 6px;
  border-radius: 5px;
}
@media only screen and (min-width: 750px) {
  .General .RightSide .right-side-container .top-details .software {
    font-size: 10px;
  }
}
.General .RightSide .right-side-container .top-details .lets-connect {
  margin: 20px;
  font-size: 15px;
  color: rgb(150, 171, 217);
  padding: 1px 10px;
  border-radius: 5px;
  background-color: rgba(29, 49, 80, 0.694);
  border: 1px solid rgba(65, 105, 225, 0.255);
}
@media only screen and (min-width: 750px) {
  .General .RightSide .right-side-container .top-details .lets-connect {
    font-size: 13px;
  }
}
.General .RightSide .right-side-container .top-details .social-media-icons {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.General .RightSide .right-side-container .top-details .social-media-icons span a {
  margin: 12px;
  font-size: 20px;
  color: rgb(150, 171, 217);
}
@media only screen and (min-width: 750px) {
  .General .RightSide .right-side-container .top-details .social-media-icons span a {
    margin: 9px;
    font-size: 15px;
  }
}
.General .RightSide .right-side-container .languages-container {
  padding: 10px 5px 10px 5px;
  box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
  border-bottom: 1px solid rgba(65, 105, 225, 0.255);
}
.General .RightSide .right-side-container .languages-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 5px;
}
.General .RightSide .right-side-container .languages-container div p {
  color: rgb(150, 171, 217);
  font-size: 12px;
  font-weight: 100;
}
.General .RightSide .right-side-container .skill-set {
  color: rgb(150, 171, 217);
  font-size: 12px;
  margin-top: 50px;
}
.General .RightSide .right-side-container .skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.General .RightSide .right-side-container .skill h4 {
  font-size: 17px;
}
.General .RightSide .right-side-container .skill p {
  font-size: 7px;
  margin-top: -8px;
}
.General .RightSide .right-side-container .stack-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  padding-bottom: 10px;
  color: rgb(150, 171, 217);
  box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
  border-bottom: 1px solid rgba(65, 105, 225, 0.255);
}
.General .RightSide .right-side-container .punt {
  color: rgb(150, 171, 217);
  font-size: 12px;
  font-weight: 100;
  padding-top: 5px;
}
.General .RightSide .right-side-container .cv-btn {
  width: 100%;
  margin-top: 70px;
  padding-bottom: 50px;
}
.General .RightSide .right-side-container .cv-btn a .button-29 {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  color: rgba(150, 171, 217, 0.673);
  background-color: rgba(238, 122, 7, 0);
  box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
  border: 2px solid rgba(65, 105, 225, 0.255);
}
.General .RightSide .right-side-container .cv-btn a .button-29:hover {
  background-color: rgba(150, 171, 217, 0.673);
  color: black;
}
@media only screen and (min-width: 750px) {
  .General .LeftSide {
    width: 100%;
    height: 97vh;
    background-color: rgba(18, 29, 47, 0.694);
    overflow-y: scroll;
  }
}
.General .LeftSide .left-side-container .banner {
  background: url("https://res.cloudinary.com/isreal/image/upload/v1662332718/My%20portfolio%20Project/AJIS_BOARD_hntwt3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
  border-bottom: 2px solid rgba(65, 105, 225, 0.255);
}
.General .LeftSide .left-side-container .banner img {
  width: 50%;
  margin: 0 auto;
}
.General .LeftSide .left-side-container .about-me {
  border: 2px solid red;
  padding: 10px;
  display: flex;
}
.General .LeftSide .left-side-container .about-me .about-me-pitch {
  width: 50%;
  border: 2px solid red;
}
.General .LeftSide .left-side-container .about-me .about-img {
  position: relative;
  box-shadow: 5px 5px 10px rgba(65, 105, 225, 0.089);
  border: 3px solid rgb(238, 123, 7);
  width: 200px;
  height: 250px;
  margin-left: auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.702);
  background-color: rgb(150, 171, 217);
}
.General .LeftSide .left-side-container .about-me .about-img img {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(238, 123, 7);
  width: 200px;
  position: absolute;
  right: 10%;
  top: 9%;
  border-radius: 10px;
}
.General .SideMenu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  max-height: 60px;
  box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
  border: 1px solid rgba(65, 105, 225, 0.255);
}
@media only screen and (min-width: 750px) {
  .General .SideMenu {
    position: relative;
    width: 10%;
    max-width: 60px;
    height: 97vh;
    max-height: 97vh;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(18, 29, 47, 0.694);
  }
}
.General .SideMenu .side-menu {
  font-size: 30px;
  color: rgba(150, 171, 217, 0.673);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media only screen and (min-width: 750px) {
  .General .SideMenu .side-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    font-size: 30px;
    height: 300px;
  }
}/*# sourceMappingURL=Style.css.map */