@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;900&display=swap");
// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  // font-family: poppins;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

*::-webkit-scrollbar-thumb {
  background-color: royalblue;
}

$shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.301);
$border: 2px solid rgb(214, 214, 214);
$cardsj-bg: rgb(224, 223, 230);
$hover-Color: whitesmoke;
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 750px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  }
}

main {
  padding: 10px;
  opacity: 1;
  z-index: 4;
  color: royalblue;
  width: 100%;
  font-weight: 600;
  height: auto;

  .i-am {
    font-size: 10px;
    margin-top: 20px;
    margin-left: 10px;
    @include responsive(bigphone) {
      font-size: 20px;
    }
  }
  .name {
    padding-right: 20px;
    margin-top: 50px;
    gap: 10px;
    width: 100%;
    padding: 10px;
    @include flexDisplay(space-between, center, column);

    @include responsive(tablet) {
      @include flexDisplay(space-between, flex-start, column);
      margin-top: 50px;
      padding-right: 50px;
    }

    .name-details {
      margin: 0 auto;
      margin-bottom: auto;
      margin-left: 0;
     
      @include responsive(bigphone) {
        margin-left: 0;
      }
      .h1Tag {
        margin-left: 20px;
        font-size: 10px;
        @include responsive(bigphone) {
          font-size: 30px;
        }
        @include responsive(desktop) {
          font-size: 3rem;
        }
      }

      .full-name {
        margin-left: 30px;

        @include responsive(tablet) {
          margin-left: 40px;
          //   @include flexDisplay(space-around, center, row);
        }

        h3 {
          font-size: 30px;
          @include responsive(bigphone) {
            font-size: 50px;
          }
          @include responsive(tablet) {
            font-size: 70px;
          }
          @include responsive(desktop) {
            font-size: 7rem;
          }
        }
        h1 {
          font-size: 45px;
          @include responsive(bigphone) {
            font-size: 80px;
          }
          @include responsive(tablet) {
            font-size: 110px;
          }
          @include responsive(desktop) {
            font-size: 11rem;
          }
        }
      }
    }

    /* CSS */
    .button-29 {
      align-items: center;
      appearance: none;
      background-image: radial-gradient(
        100% 100% at 100% 0,
        #5adaff 0,
        #5468ff 100%
      );
      border: 0;
      border-radius: 6px;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      font-family: "JetBrains Mono", monospace;
      height: 48px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow 0.15s, transform 0.15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow, transform;
      font-size: 10px;
      //   margin-top: 50px;
      //   margin-left: auto;

      @include responsive(bigphone) {
        font-size: 18px;
        margin-right: auto;
      }
      @include responsive(desktop) {
        font-size: 25px;
      }
      &:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
      }

      &:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
      }

      &:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
      }
    }
  }
  .i-am {
    //   border: 2px solid red;
    margin-top: 0px;
  }
}
